:root{
  --ff-primary:'Roboto', sans-serif;
  --fs-body: 20px;
  --fs-h1: 32px;
  --fw-reg: 400;
  --clr-primary: white;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  color: var(--clr-primary);
}
.navbar {
  display: flex;
  justify-content: space-around;
  /* box-shadow: 5px 5px 40px rgba(0, 0, 0.3); */
}
header {
  width: 100%;
  height: 60vh;
  background-color: #1c1c1c;
}
.header-text {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:40vh;
}
.logo {
  left:20%;
  transform: translate(-50%, -50%);
  top: 3%;
  position: absolute;
  width: 5%;
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
}
.nav-link {
  list-style-type: none;
  margin-right: 30px;
}
.typewriter-text {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  margin-bottom: 40px;
}

.typewriter-text::after {
  content: "";
  width: 40px;
  height: 10px;
  /* background: linear-gradient(#ff469f, #ff6062); */
  background: linear-gradient(45deg,#F05A27, #DA2A53);
  position: absolute;
  left: 10px;
  top: 100%;
}
.icons > * {
  font-size: 20px;
  margin-right:10px;
}
.header-options {
  display: flex;
}
.btn {
  background-color: linear-gradient(45deg,#F05A27, #DA2A53);
}