*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
  --ff-primary:'Roboto', sans-serif;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.50rem;
  --fs-body: 1rem;

  --fw-reg: 300;
  --fw-bold: 500;
  --fw-bolder: 700;

  --clr-primary: #000000;
  --clr-light: #fff;
  --clr-accent:#ff6062;

  --bg-dark: #1c1c1c;
  --overlay: rgb(0,0,0,0.7);
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 2rem;
      --fs-body: 1.2rem;
      --fw-reg: 400;
  }
}

body {
  padding:0;
  margin:0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  color: var(--clr-primary);
  /* background-color: var(--bg-dark); */
  line-height: 1.6;
}
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  background-color: rgba(0,0,0,0.9);
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 100;
  height: 100%;
  padding: 0 1rem;
}
.header .navbar img {
  width: 120px;
  height: auto;
}

.header .nav-menu {
  display: flex;
}
  
.header .nav-item {
  padding: 1rem;
  list-style-type: none;
}
.header .nav-item .active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--clr-accent);
}
.header .nav-link {
  color: var(--clr-light);
  text-decoration: none;
}
.header .nav-link:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--clr-accent);
}
.hamburger {
  display: none;
}

@media (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: rgba(0,0,0,0.9);
  }
  .header .navbar {
    max-width: 100%;
  }
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    width:100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: .3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1.5rem 0;
  }
  .header .navbar img {
    width:100px;
  } 
}

.hero {
  background-color: var(--overlay);
  height: 100vh;
  width: 100%;
  position: relative;
  color: var(--clr-light);
}

.hero:before {
  content: '';
  background: url('./assets/img/bg.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width:1100px;
  margin:auto;
  padding: 1rem;
}
.text-accent{
  color: var(--clr-accent);
}
.typewriter-text {
  font-size: var(--fs-h2);
  font-family: "Ubuntu", sans-serif;
  position: relative;
  margin-top: 1rem;
}

.typewriter-text:after {
  content: "";
  width: 40px;
  height: 10px;
  /* background: linear-gradient(#ff469f, #ff6062); */
  background: linear-gradient(45deg,#F05A27, #DA2A53);
  position: absolute;
  left: 10px;
  top: 100%;
}
.icons ul {
  display: flex;
  justify-content: center;
  padding-left:0;
}
.icons li {
  padding: 1rem;
  list-style-type: none;
}
.icons li a {
  color: #fff;
} 
.hero-options {
  /* display:block;
  margin-top: 0.625em; */
  display: flex;
}

.btn {
  padding: .5em 2em;
  margin: 1.5em;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-light);
  border: 2px solid #F05A27;
  outline: none;
  border-radius: 20px;
  background: linear-gradient(45deg,#F05A27, #DA2A53);
  cursor: pointer;
}
.btn:hover {
  background: var(--bg-dark);
}
.about {
  background-color: #f8f8f8;
  margin: auto;
  padding: 8rem 1rem 0 1rem;
  width: 100%;
}
.title-text {
  text-align: center;
  font-size: 2.95rem;
}
.line {
  display: block;
  width: 50px;
  height: 3px;
  margin: 10px auto;
  background-color: var(--bg-dark);
  margin-bottom: 2em;
}
.about .container{
  max-width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-img {
  height: 300px;
  width: 280px;
  justify-self: end;
  border: 10px solid var(--bg-dark);
  border-radius: 8px;
  box-shadow: var(--bs);
}
.about .col-2 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  /* justify-content: center;
  align-items: center; */
}
.about-intro {
  font-weight: var(--fw-bold);
}
.about-subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}
@media (max-width: 940px) {
  .about .container {
    grid-template-columns: 1fr;
  }
  .about .container {
    width: 100%;
  }
  .about-img {
    justify-self: center;
    padding: 0rem;
    height: 260px;
    width: 220px;
  }
  .about .col-2 {
    max-width:600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding:0;
  }
}
.skills {
  background-color: #f8f8f8;;
  margin: auto;
  padding: 8rem 1rem 0 1rem;
  width: 100%;
}
.skills-container{
  max-width:800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}
.skills-container > * {
  justify-self: center;
  font-size: 60px;
  color: rgb(167, 162, 162);
}
.skills-container > *:hover {
  color:#ff6062;
  transform: scale(1.07);
  transition: 1s ease-out;
}
@media (max-width: 940px) {
  .skills-container{
    grid-template-columns: repeat(3, 1fr);
  }
  .skills-container > * {
    font-size: 40px;
  }
}
.projects {
  background-color: #f8f8f8;;
  margin: auto;
  padding: 8rem 1rem 6rem 1rem;
  width: 100%;
}
.projects-container{
  max-width: 1240px;
  width:80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.card {
  width:330px;
  overflow: hidden;
  border: 1px solid #bacdd8;
  border-radius: 12px;
  box-shadow: 0px 0px 15px -5px;
}
.card-header img{
  overflow: hidden;
  height: 225px;
  width:100%;
  object-fit: cover;
}
.card-body {
  padding: 0 1rem;
}
.card-body .card-title {
  font-size: var(--fs-body);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}
.card-footer {
  padding: 1rem;
  display: flex;
}
.btn-secondary {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 7px;
  border: 3px solid #aca7a7;
  margin-right: 0.5rem;
  position: relative;
  z-index: 1;
}
.btn-secondary a {
  text-decoration: none;
  font-family: inherit;
  font-weight: var(--fw-bold);
  color: black;
}
.btn-secondary:hover a{
  color: #fff;
  cursor: pointer;
}
.btn-secondary:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right:50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background: linear-gradient(45deg,#F05A27, #DA2A53);
}
.btn-secondary:hover:before {
  transition: 0.5s all ease;
  left:0 ;
  right: 0;
  opacity: 1;
  z-index: -1;
}
@media (max-width: 940px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

.footer {
  width: 100%;
  background-color: var(--bg-dark);
  color: #fff;
  padding: 3rem 1rem;
}

.footer .container {
  max-width: 1240px;
  margin: auto;
  text-align: center;
}
.footer ul {
  display: flex;
  justify-content: center;
  padding-left:0;
}
.footer li {
  padding: 1rem;
  list-style-type: none;
}
.footer li a {
  color: #fff;
}
.footer li a:hover {

}
.footer-text p{
  text-align: center;
}